@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Kanit:wght@300&family=Noto+Sans+Osmanya&family=Outfit&family=Oxygen&family=Sedgwick+Ave+Display&family=Zen+Dots&display=swap');


/* 
font-family: 'Jost', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Noto Sans Osmanya', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Zen Dots', sans-serif;



*/



::selection{
    background-color: #2ec4b6;
    color: aliceblue;
}

*{
    margin: 0; padding: 0;
    border: none; outline: none;
    box-sizing: border-box;
    
}

body{
    font-family: 'Anek Telugu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1AACAC;

}

img{
    width: 110px;
    height: 110px;
    border-radius: 30px;
}

.card{
    height: 130px;
    width: 130px;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .5s;

    cursor: pointer;
}



.card_front, .card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.card_front{
    transform: rotateY(180deg);
    background-color: #fff;

}

.card_back{
    color: #101c2c;
    background-color: #05c3ff;
    font-size: 21px;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Osmanya', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Zen Dots', sans-serif;
}

#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}


#restart{
    color: whitesmoke;
    padding: 20px;
    font-size: 20px;
    background-color: #2ec4b6;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

#gameBoard{
    /* position: relative;
    right: 19rem;
    top: 9.2rem; */
    
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template:1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;

}